html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #EDE7B3;
}

/*****************************************\

  #BASE-TITLE

\*****************************************/
html {
  font-size: 65.5%;
}

/*****************************************\

  #BORDER-TITLE
  
\*****************************************/
.b1 {
  border: 1px solid rgba(0, 0, 0, 0.15);
}

/*****************************************\

  #MARGIN-TITLE
  
\*****************************************/
.m0a {
  margin: 0 auto;
}

.mt1 {
  margin-top: 1rem;
}

.mt10 {
  margin-top: 10rem;
}

.mb10 {
  margin-bottom: 10rem;
}

/*****************************************\

  #WIDTH-TITLE
  
\*****************************************/
.w90 {
  width: 90%;
}

.w100 {
  width: 100%;
}

.w80-20vw {
  width: 80vw;
}

@media (min-width: 37.8rem) {
  .w80-20vw {
    width: 20vw;
  }
}

/*****************************************\

  #HEIGHT-TITLE
  
\****************************************/
.h100 {
  height: 100%;
}

.h60 {
  height: 60%;
}

.ht {
  height: 6rem;
}

.minh100 {
  min-height: 100%;
}

/*****************************************\

  #DISPLAY-TITLE
  
\*****************************************/
.db {
  display: block;
}

/*****************************************\

  #POSITION-TITLE
  
\*****************************************/
.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.pf {
  position: fixed;
}

.b0 {
  bottom: 0;
}

.t50 {
  top: 50%;
}

.l50 {
  left: 50%;
}

.t65 {
  top: 65%;
}

.l65 {
  left: 65%;
}

.t0 {
  top: 0;
}

.l0 {
  left: 0;
}

/*****************************************\

  #TRANSFORM-TITLE
  
\*****************************************/
.ttc {
  transform: translate(-50%, -50%);
}

/*****************************************\

  #FLEX-TITLE
  
\*****************************************/
.fc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ff {
  display: flex;
  flex-direction: column;
}

.fb {
  flex: 1 0 auto;
}

/*****************************************\

  #COLOURS-TITLE
  
\*****************************************/
.black {
  background-color: black;
}

.text__black {
  color: #191919;
}

.help__bg {
  background-color: #cfc67e;
}

/*****************************************\

  #ANIMATION-TITLE
  
\*****************************************/
@keyframes intro {
  0% {
    transform: rotate(0);
    opacity: 0;
  }

  100% {
    transform: rotate(0);
    opacity: 1;
  }
}

/*****************************************\

  #LANDING-TITLE
  
\*****************************************/
.landing {
  animation: intro 0.2s forwards 0s ease-in;
}

/*****************************************\

  #LEADERBOOARD-TITLE
  
\*****************************************/
.leaderboard {
  animation: intro 1s forwards 0s ease-in;
}

/*****************************************\

  #BORDER-TITLE
  
\*****************************************/
.Quiz__border {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.Exit__button {
  border: 1px solid red;
  background-color: white;
}

/*****************************************\

  #TEXT-TITLE
  
\*****************************************/
