{% extends 'layout.html' %} {% block content %}
<div class="row landing">
    <h1 class="text-center Acumin-pro">Java Quiz</h1>
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <header class="text-center">
            
            <span class="Exit__button fs2">Player: {{ session['user'] }}</span>
            <span class="Exit__button fs2">Score: {{ session['score'] }}</span>
        </header>
        <span class="pull-right">
            {% if session['user'] %}
                <a class="Exit__button" href="{{ url_for('leaderboard') }}">Exit game</a>
            {% endif %}
        </span>
        <br>
        <p>{{ data.question }}</p>
        <div class="">
                <img src="{{ session['data'][session['question']].url2 }}" class="w100 Quiz__border">
        </div>
        {% if session['gameover'] == False %}
            <form class="ff minh100vh" method="POST" name="sendAnswer" id="answerForm">
                
                </p>{{ data.code }}</p>
                <div class="control-group text-center">
                        {% for answer in data.answers %}
                            <span class="Quiz__border inline">
                                <label>
                                    {{ answer }}
                                    <input type="radio" class="btn btn-default btn-success pull-right" id="answer-{{ answer }}" name="answer" value={{ answer }} required>
                                </label>
                                 
                            </span>
                        {% endfor %}
                    
                    <div class="form-group floating-label-form-group controls fb">
                        <p class="help-block text-danger"></p>
                        {% with messages = get_flashed_messages() %} 
                            {% if messages %}
                                <div class="alert alert-danger text-center">
                                    <span class="material-symbols-outlined">
                                        warning
                                        </span>
                                    {{ messages[0] }}
                                </div>
                            {% endif %} 
                        {% endwith %}
                        <footer class="ht">
                            <div class="text-center">{{ question + 1 }} of {{ session['total'] }}</div>
                            <input type="submit" class="btn btn-default btn-success pull-right bg__green text__black" name="skip" value="Next">
                        </footer>
                        {% else %}
                            <h2 class="text-center">Game over</h2>
                        {% endif %}
                    </div>
                </div>
            </form>
    </div>
</div>
    
{% endblock %}
