{% extends 'layout.html' %} {% block content %}
<div class="row landing">
    
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <h1 class="fs2 text-center Acumin-pro">Score: {{ session['score'] }}</h1>
        <div class="pr">
            <img src="{{ session['data'][session['question']].url2 }}" class="w100 Quiz__border bg__yellow">
            <span class="pa t5 l95 ttc Help__border help__bg" data-toggle="tooltip"
            title="{{ data.question }} {{ data.code }}">?</span>
            <div class="Acumin-pro pa b15 l50 ttc">{{ question + 1 }} of {{ session['total'] }}</div>
        </div>
        {% if session['gameover'] == False %}
        <form class="ff" method="POST" name="sendAnswer" id="answerForm">
            
            <div id="question1" class="control-group text-center YesNo">
                    <label>Please select one of the following options:</label>
                    {% for answer in data.answers %}
                    <span class="custom-checkbox" id="answer-{{ answer }}">
                        <input name="answer" type="radio" value={{ answer }} required/>
                        <span class="box">{{ answer }}</span>
                    </span>
                    {% endfor %}
                    
                    <div class="form-group floating-label-form-group controls fb">
                        <p class="help-block text-danger"></p>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="alert alert-danger text-center">
                            <span class="material-symbols-outlined">warning</span>
                            {{ messages[0] }}
                        </div>
                        {% endif %}
                        {% endwith %}
                        <footer class="ht">
                            <span class="pull-left">
                                {% if session['user'] %}
                                <a class="Exit__button text__black btn btn-default btn-danger" href="{{ url_for('leaderboard') }}">EXIT</a>
                                {% endif %}
                            </span>
                            <input type="submit" class="btn btn-default btn-success pull-right bg__green text__black"
                                name="skip" value="Next">
                        </footer>
                    </div>
                </div>
            </form>
        {% else %}
            <h2 class="text-center">The Java Quiz is now over.</h2>
            <br>
            <br>
            <br>
            <h2 class="text-center">Thank you for playing.</h2>
        {% endif %}
    </div>
</div>

{% endblock %}
