{% extends 'layout.html' %} {% block content %}
<div class="row landing">
            <h1 class="text-center Acumin-pro">Java Quiz</h1>
    <div class="col-sm-6">
        <header class="text-center">
            
            <span class="Exit__button fs2">Player: {{ session['user'] }}</span>
            <span class="Exit__button fs2">Score: {{ session['score'] }}</span>
        </header>
        <span class="pull-right">
            {% if session['user'] %}
                <a class="Exit__button" href="{{ url_for('leaderboard') }}">Exit game</a>
            {% endif %}
        </span>
        <br>
        <p>{{ data.question }}</p>
        <div class="">
                <img src="{{ session['data'][session['question']].url2 }}" class="w100 Quiz__border">
        </div>
    </div>
    <div class="col-sm-6">
        {% if session['gameover'] == False %}
            <form method="POST" name="sendAnswer" id="answerForm">
                
                </p>{{ data.code }}</p>
                <div class="control-group">
                        {% for answer in data.answers %}
                            <span class="Quiz__border inline form-check-inline">
                                <label>
                                    {{ answer }}
                                    <input type="radio" class="btn btn-default btn-success pull-right" id="answer-{{ answer }}" name="answer" value={{ answer }} required> 
                                </label>
                            </span>
                            <br />
                        {% endfor %}
                    
                    <div class="form-group floating-label-form-group controls">
                        <p class="help-block text-danger"></p>
                        {% with messages = get_flashed_messages() %} 
                            {% if messages %}
                                <div class="alert alert-danger text-center">{{ messages[0] }}</div>
                            {% endif %} 
                        {% endwith %}
                        <div>
                            <input type="submit" class="btn btn-default btn-success pull-right text__black" name="skip" value="Next">
                        </div>
                    </div>
                </div>
            </form>
        <footer>
            <div class="text-center">{{ question + 1 }} of {{ session['total'] }}</div>
        </footer>
        {% else %}
            <h2 class="text-center">Game over</h2>
        {% endif %}
    </div>
</div>
{% endblock %}
