{% extends "layout.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<h1 class="text-center">Java Quiz <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Press Start"></span></h1>
<br>
<br>
<section class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 Quiz__border">
    <div class="landing m0a mb10 w80-20vw">
        {% if session['login'] %}
            <a class="btn btn-default btn-success w100" href="{{ url_for('login') }}">Start</a>
        {% endif %}
    </div>
</section>
<br>
<br>
    
{% endblock %}
