<!DOCTYPE html>
<html lang="en" class="pr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Java Quiz</title>
    <link rel="stylesheet" href="https://use.typekit.net/gfv3iip.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" />
</head>

<body class="mh100">
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>

    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/script.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
