{% extends "layout.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<h1 class="text-center Acumin-pro">Java Quiz</h1>
<br>
<br>
<section class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 Quiz__border mb10">
    <div class="landing m0a mt10 mb10 w80-20vw">
        <form class="form-group" method="POST" name="login">
            <br>
            <label for="username" class="Roboto__medium fs1_2 lightbrown">Your username <span class="Help__border help__bg" data-toggle="tooltip" title="Enter a username and press play">?</span></label>
                <input class="Roboto__bold fs1_7 w100 form-control input__icons input-lg" type="text" name="name" placeholder="Enter username" id="username">
            <br>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-danger text-center"><span class="material-symbols-outlined inline">warning</span>{{ messages[0] }}
            </div>
            {% endif %}
            {% endwith %}
            <button type="submit" class="btn btn-default btn-success w100 bg__green text__black id="
                userButton">Play</button>
        </form>
    </div>
</section>
<br>
<br>

{% endblock %}
