{% extends "layout.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<h1 class="text-center Acumin-pro">Java Quiz</h1>
<br>
<br>
<section class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 Quiz__border mb10">
    <span class="Quiz__border help__bg" data-toggle="tooltip" title="Enter a username and press play">help ?</span>
    <div class="landing m0a mt10 mb10 w80-20vw">
        <form method="POST" name="login">
            <label for="username">Your user name</label>
            <div class="form-group">
                
                <input class="w100" type="text" name="name" placeholder="{{<span class="material-symbols-outlined">person</span>}} Enter username" id="username">
            </div>
            <br>
            <br>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-danger text-center"><i class="bi bi-exclamation-triangle"></i>{{ messages[0] }}
            </div>
            {% endif %}
            {% endwith %}
            <button type="submit" class="btn btn-default btn-success w100 bg__green text__black id="
                userButton">Play</button>
        </form>
    </div>
</section>
<br>
<br>

{% endblock %}