{% extends "layout.html" %}

{% block content %}
<br>
<br>
<br>
<h1 class="text-center">Java Quiz</h1>
<section class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 Quiz__border mb10">
    <span data-toggle="tooltip" title="Enter a username and press play">help ?</span>
    <div class="landing m0a mt10 mb10 w80-20vw">
        <form method="POST">
            <input class="w100" type="text" name="name" placeholder="Enter username">
            <br>
            <br>
            {% with messages = get_flashed_messages() %} 
                {% if messages %}
                    <div class="alert alert-danger text-center">{{ messages[0] }}</div>
                {% endif %} 
            {% endwith %}
            <button type="submit" class="btn btn-default btn-success w100" id="userButton">Play</button>
        </form>
    </div>
</section>
<br>
<br>
    
{% endblock %}
